:root {
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --background-color: #09ff00;
  /* ... otros colores ... */
}


body {
  /* color: var(--primary-color); */
  background: var(--background-color);
}

/* Otras reglas CSS que utilizan las variables */